.wrapper-list, .wrapper-list-header {
  display: grid;
  grid-template-columns:
    /* repeat(6, 1fr);  */
    repeat(2, 1fr) /* firstname && lastname;    */
    repeat(1, 2fr) /* email  */
    repeat(1, 1fr) /* roll */
    repeat(1, 1fr) /* date */
    repeat(1, 1fr) /* hour */
    repeat(1, 3fr); /* buttons */
  grid-auto-rows: minmax(30px, auto);
  grid-auto-columns: auto;
  grid-auto-columns: max-content(130px, 130px);
  background-color: rgb(255, 255, 255);
  font-size: 0.9rem;
  text-align: center; 
  padding: 6px;
  border: 1px solid #dbdbdb;
  border-top: none;
  color: #333;
  cursor: default;
  transition: all 0.2s ease-in-out;
}

.wrapper-list:hover {
  background-color: #e1e1e1;
  transition: all 0.2s ease-in-out;
}

.wrapper-list-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: rgb(51, 51, 51)
}

.wrapper-list:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.wrapper-list > span {
  margin: 0px auto;
  margin-top: 5px;
}

.wrapper-list-header {
  border: 1px solid #dbdbdb;
  padding-top: 15px;
  font-weight: 500;
  text-align: center; 
}

.btns-accions {
  display: flex;
  margin-top: 3px;
}

/* header dahsboard user */
.header-dashboard-user {
  display: flex;
  /* margin-top: 8px; */
  margin-bottom: 8px;
  margin-left: 5px;
}
/* plus icon to adde user */
.plus-btn-add {
  color: #333;
  margin-top: 10px;
  padding-left: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
/* plus btn toolpit */
.plus-btn-tooltip {
  position: absolute;
  font-size: 1rem;
  /* left: 78px;
  top: 60px; */
  transform: translate(-50% , -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.plus-btn-add:hover {
  color: rgb(48, 48, 48);
  color: red;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.header-dashboard-user > .plus-btn-add:hover > .plus-btn-tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
  top: 60px;
  left: 65px;
  color: #333;
}

/* search user */
#search-user-input {
  border: none;
  padding: 8px;
  margin-top: 8px;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

#search-user-input:hover {
  border: 1px solid #756b6b;
  transition: all 0.2s ease-in-out;
}

/* dashboard list */
.dashboard-list {
  padding: 5px
}
/* modal opener */
.add-user-modal {
  padding: 10px 15px;
  background-color: #d81818;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/* search user */
.search-user {
  display: flex;
}
.search-icon {
  /* padding: 5px; */
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/* modals */
/* Add user */
.add-admin-modal > div {
  background-color: rgb(237, 37, 37);;
}
/* Edit user */
.edit-user-modal > div {
  background-color: orange;
}
/* delete user */
.delete-user-modal > div {
  background-color: rgb(252, 60, 60);
}

/* downshift */
.search-input-box {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

}
.search-user-input + div {
  position: relative;
  z-index: 100;
  left: 90px;
  top: 40px;
  /* padding: 15px; */
  border: 1px solid gray;
  border-radius: 2px;
  background-color: white;
  color: #353535;
  
}

/* add user modal */
.add-user-input {
  transition: all 0.2s ease-in;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  padding: 6px;
}
.add-user-input:hover {
  border: 1px solid #d81818;
}
.add-user-closebtn {
  padding: 10px 10px 5px 5px;
  color: white;
  transition: all 0.2s ease-in;
}
.add-user-closebtn > svg { 
  cursor: pointer;
}
.add-user-closebtn:hover {
  color: #1d1d1d;
}

/* edit user modal */
.edit-user-closebtn {
  padding: 10px 10px 5px 5px;
  color: white;
  transition: all 0.2s ease-in;
}
.edit-user-closebtn > svg { 
  cursor: pointer;
}
.edit-user-closebtn:hover {
  color: #1d1d1d;
}